:root {
  --default-brown: #cbaf85;
  --default-semi-light-brown: #ebd5b3;
  --default-dark-brown: #e29e38;
  --default-semi-dark-brown: #cbaf85;
  --default-white: #ffffff;
  --default-black: #151515;
  --font-lg: 29px;
  --font-sm: 13px;
  --font-m: 14px;
  --font-xlg-weight: 700;
  --font-lg-weight: 600;
  --font-family-poppins: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: var(--font-family-poppins);
}
[class$="btn"] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0px;
  margin: 0px;
}

/* NavBar */
nav {
  position: absolute;
  width: 100vw;
  height: 80px;
  left: 0px;
  top: 0px;
  background-color: black;
  color: var(--default-brown);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* grid-template-columns: 20% 55% 25%; */
  gap: 10px;
  padding: 15px 63px;
}
.compy-logo {
  /* width: 242px;
  height: 48px; */
  /* line-height: 48px; */
  font-size: 32px;
  font-weight: var(--font-lg-weight);
  color: var(--default-brown);
}
.rite-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.md-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-right: 30px;
}
.md-nav li {
  list-style: none;
  font-size: 20px;
  font-weight: 400;
  margin-right: 31px;
  cursor: pointer;
}
.link-btn{
  text-decoration: none;
  color: var(--default-brown);
}
.srch-btn {
  font-size: 1.5rem !important;
}
.nav-btn {
  padding: 8px 26px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
}
.bwn-btn {
  background-color: var(--default-semi-light-brown);
  color: #1b1b1b;
  margin-right: 58px;
}
.blk-btn {
  background-color: #151515;
  color: var(--default-semi-light-brown);
}
.ham{
  display: none;
  width: 30px;
}
.ham-div{
  border: 1.5px solid var(--default-semi-light-brown);
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: var(--default-semi-light-brown);
}

/* landing page knight section */
.landing-bg {
  background-image: url(../src/assets/pexels-rūdolfs-klintsons-7060437\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.knight-section {
  display: flex;
  justify-content: space-between;
  padding: 0 63px;
  padding-top: 114px;
}

.knight-section-left {
  width: 40%;
  padding-top: 20px;
}

.knight-section-h1 {
  font-size: var(--font-lg);
  color: var(--default-white);
  font-weight: 500;
  font-size: var(--font-lg);
  line-height: 52px;
}

.knight-money {
  font-size: 32px;
  color: var(--default-dark-brown);
}

.knight-chance {
  font-size: 36px;
  color: var(--default-semi-dark-brown);
}

/* landing page play section */
.play-section {
  padding: 0 63px;
  padding-top: 6px;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.play-1 {
  display: flex;
}

.games-today {
  font-size: var(--font-sm);
  color: var(--default-white);
  font-weight: 300;
}

.pg-1 {
  margin-top: -3.2rem;
  margin-left: 2rem;
}

.pg-2 {
  margin-top: -4.3rem;
  margin-left: 2.9rem;
}

.rook {
  /* border: 1px solid red; */
  margin-top: -3.6rem;
  margin-left: -3.7rem;
}

.trophy {
  /* border: 1px solid red; */
  margin-top: -0.8rem;
  margin-left: -1.5rem;
}

.help,
.about {
  border: none;
  background-color: transparent;
}

.about {
  padding-top: 0.5rem;
}

.s-btn {
  font-size: 18px;
  font-weight: 300;
  color: var(--default-white);
  padding-left: 5px;
  font-family: var(--font-family-poppins);
}

.s-1 {
  padding-left: 12px;
}

.help-btn {
  padding-top: 10rem;
}

.bot-btn-1 {
  padding-top: 8rem;
}

.bot-btn-3 {
  padding-top: 1rem;
}

.img-btn {
  position: relative;
  top: 0.1rem;
}

.knight-bot-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  gap: 40px;
  background-color: var(--default-white);
  border-radius: 1rem;
  width: 440px;
  height: 111px;
}

.bot-h2 {
  font-size: 30px;
  color: var(--default-black);
  font-family: var(--font-family-poppins);
  font-weight: 700;
  text-align: start;
}

.bot-h3 {
  font-size: 20px;
  color: var(--default-black);
  font-family: var(--font-family-poppins);
  font-weight: 400;
  text-align: start;
}

.play-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
}

.rooks-bot {
  background-color: var(--default-brown);
}

.bot-help {
  display: none;
}

/* SignIn Page */
.signin-bg{
  background: url(./assets/signup-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 23px;
}
.signin-form{
  background-color: var(--default-black);
  width: 414px;
  height: 624px;
  margin-top: 18px;
  padding: 43px 35px 31px;
}
.inpt-div-cont{
  display: flex;
  align-items: center;
  background-color: #645d5d2b;
  border: 1px solid #fceaea6e;
  border-radius: 10px;
  width: 345px;
  height: 38px;
  padding: 8px ;
  margin-bottom: 20px;
}
.icon-cont{
  width: 24px;
  height: 24px;
  margin-right: 21px;
  margin-left: 5px;
}
.inpt-div-cont input{
  background-color: transparent;
  color: #A7A39C;
  border: 0;
  outline: none;
}
.inpt-div-cont input::placeholder{
  font-weight: 600;
  font-size: 16px;
  color: #A7A39C;
}
.pw-input{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.pw-input .icon-cont{
  margin: 0;
}
.oder-form-cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-m);
  font-weight: 600;
  margin-bottom: 53px;
}
.oder-form-cont input{
  margin-right: 5px;
  width: 14px;
  height: 14px;
}
.oder-form-cont span{
  color: #A7A39C;
}
.oder-form-cont p{
  color: var(--default-dark-brown);
}
.signin-btn{
  padding: 10px 33%;
  font-size: 30px;
  font-weight: var(--font-lg-weight);
  border-radius: 10px;
  background-color: var(--default-brown);
  color: #181715;
  border: 0;
}
.or-hr{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin: 20px 0;
}
.or-hr h3{
  font-size: 20px;
}
.wit-hr{
  border: 1px solid white;
  width: 139px;
}
.signin-wit-btn{
  display: flex;
  align-items: center;
  padding: 10px 40px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.signin-wit-btn div{
  margin-right: 40px;
  padding-top: 6px;
}
.signin-wit-btn button{
  border: 0;
  background-color: transparent;
  font-size: 18px;
  font-weight: var(--font-lg-weight);
  text-decoration: none;
}
.white-btn{
  background-color: white;
}
.blue-btn{
  background-color: #3B5998;
  color: white;
  text-decoration: none;
}
.black-btn{
  color: white;
  background-color: black;
}
.signup-opt{
  color: white;
  font-weight: var(--font-lg-weight);
}
.signup-opt span{
  color: var(--default-dark-brown);
}
@media screen and (max-width: 1130px) {

  /* landing page play section */
  .play-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .play-game-left {
    width: 100%;
  }

  .help-btn {
    display: none;
  }

  .bot-help {
    display: block;
  }

  .bot-btn-1 {
    padding-top: 4rem;
  }
}

@media screen and (max-width: 1029px) {
  /* landing page play section */
}

/* Tablet Screen */
@media screen and (max-width: 768px) {
  /* NavBar */
  nav{
    padding: 15px 20px;
    height: 67px;
  }
  .compy-logo{
    font-size: 22px;
  }
  .rite-nav{
    display: none;
  }
  .ham{
    display: inline;
  }
}